.banner-img{
   object-fit: cover;
   background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
}
.banner-div{
    position: absolute;
    bottom: 620%;
    left: 30%;
   color: #F84C4C;
   font-weight: bolder;
}
.banner-div3{
    position: absolute;
    bottom: 110px;
    right: 65%;
}

.slider-title{
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 2px;
  
}

.banner-btn{
    padding: 5px 22px;
    transition: all .4s;
    background-color: #F84C4C;
    border: 2px solid #F84C4C;
}
.banner-btn:hover{
    border: 2px solid #F84C4C;
    background:transparent;
    border: 2px 2px solid #372b2b;
   
}

@media screen and (max-width:1100px) {
    .banner-div{
        left: 15%;
        bottom: 130px;
    }
    .banner-div3{
        
        bottom: 40px;
        right: 300px;
    }
}

@media screen and (max-width:700px) {
    .banner-img{
        height: 400px;
    }
    .banner-div{
        left: 0px;
        bottom: 150px;
    }
    .banner-div3{
        position: absolute;
        bottom: 50px;
        right: 70px;
    }
    .slider-title{
        font-size: 40px;
    }
}